InstFeedReader.xcodeproj/project.xcworkspace/contents.xcworkspacedata
InstFeedReader.xcodeproj/project.xcworkspace/xcuserdata/Oleygen.xcuserdatad/UserInterfaceState.xcuserstate
InstFeedReader.xcodeproj/xcuserdata/Oleygen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
InstFeedReader.xcodeproj/xcuserdata/Oleygen.xcuserdatad/xcschemes/InstFeedReader.xcscheme
InstFeedReader.xcodeproj/xcuserdata/Oleygen.xcuserdatad/xcschemes/xcschememanagement.plist
Podfile.lock
InstFeedReader.xcworkspace/contents.xcworkspacedata
InstFeedReader.xcworkspace/xcuserdata/Oleygen.xcuserdatad/UserInterfaceState.xcuserstate
InstFeedReader.xcworkspace/xcuserdata/Oleygen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Manifest.lock
Pods
